@charset "UTF-8";
/*
 * 配色
 */
/*
 * フォント
 */
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 64px;
}

.l-header {
  background-color: #FFF7EF;
}

.l-sidebar {
  background-color: #F2EDE9;
}

.l-footer {
  background-color: #9D8670;
}

.c-grid {
  display: grid;
  grid-template-rows: 217px 1fr 150px;
  grid-template-columns: 1fr 19%;
  grid-template-areas: "header sidebar" "contents sidebar" "footer footer";
}
.c-grid__item1 {
  grid-area: header;
}
.c-grid__item2 {
  grid-area: contents;
}
.c-grid__item3 {
  grid-area: sidebar;
}
.c-grid__item4 {
  grid-area: footer;
}

/* ==========================================================================
   Foundation
   ========================================================================== */
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Object
   ========================================================================== */
/* Component */
.c-logo {
  font-family: "Roboto";
  color: #707070;
}

.c-line {
  width: 63px;
  border-bottom: 4px solid #fff;
  padding-bottom: 34.5px;
  /* 内容と線との間隔量 */
}

/* Project */
.p-search-form {
  position: relative;
  /* 基準値とする */
}
.p-search-form::before {
  content: "";
  width: 30px;
  /* アイコンの横幅 */
  height: 30px;
  /* アイコンの高さ */
  background: url(../img/search-icon.png) no-repeat center center/auto 100%;
  /* 背景にアイコン画像を配置 */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  top: 50%;
  /* アイコンの位置 */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
}
.p-search-form__keyword {
  padding: 3px 0 3px 2.5em;
  /* アイコンを設置するため左の余白を多めに指定*/
  width: 396px;
  height: 46px;
  border: 1px solid #707070;
  /* 枠線 */
  border-radius: 0.5em;
  /* 角丸 */
}
.p-search-form__submit {
  width: 136px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#DED8D3), to(#F2EDE9));
  background-image: linear-gradient(0deg, #DED8D3, #F2EDE9);
  /* グラデーション */
  border: 1px solid #707070;
  /* 枠線 */
  border-radius: 0.5em;
  /* 角丸 */
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-food-menu {
  background-color: aqua;
}

.p-access__box {
  background-color: rgba(0, 0, 0, 0.29);
}
.p-access__line {
  border-width: 2px;
}

.p-footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-footer__wrapper {
  text-align: center;
}
.p-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "M+ Type-1 (general-j) Regular";
}
.p-footer__menu-li {
  padding: 0 19px;
  border-right: 1px solid #fff;
  /* 間の枠線 */
}
.p-footer__menu-li:last-of-type {
  border-right: 0;
  /* 右の枠線は消す */
}
.p-footer__copyright {
  font-family: "M+ M Type-1 (basic latin) Regular";
}

/* Utility */
/*# sourceMappingURL=style.css.map */