@use "../../foundation/variable" as v;

.c-card {
    width: 100%;
    font-family: v.$font-Mplus-j-Bold;
    display: flex;
    &__thumbnail {
        width: 50%;
    }
    &__contents {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__description {
        font-family: v.$font-Mplus-j-Regular;
    }
}