@use "../../foundation/variable" as v;

.c-card {
    font-family: v.$font-Mplus-j-Bold;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "pic title"
        "pic subtitle"
        "pic description"
        "pic button";
    &__thumbnail {
        grid-area: pic;
    }
    &__title {
        // font-family: v.$font-Mplus-j-Bold;
        grid-area: title;
    }
    &__subtitle {
        // font-family: v.$font-Mplus-j-Bold;
        grid-area: subtitle;
    }
    &__description {
        font-family: v.$font-Mplus-j-Regular;
        grid-area: description;
    }
    &__button {
        // font-family: v.$font-Mplus-j-Bold;
        grid-area: button;
    }
}