@use "../../foundation/variable" as v;

.p-food-menu {
    width: 100%;
    &__title {
        font-size: 80px;
        margin-left: 19px;
    }
    &__line {
        margin-left: 26.5px;
    }
    &__ul {
        min-height: 1000px; //** YATさん：高さではない
        color: v.$font-color--brown;
        display: flex;
        justify-content: center;
        margin: 120px auto 134px;
    }
    &__li {
        width: 40%;
        // ここでは background-size: cover にしないようにしたい
        background-position: top center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:first-child {
            background-image: url(../../../img/takeout-pc.jpg);
        }
        &:nth-child(2) {
            background-image: url(../../../img/eatin-pc.jpg);
            margin-left: 80px;
        }
    }
    &__dl {
        background-color: rgba(255,255,255,0.8);
        margin: 20px;
        padding: 17px 25px 17px 19px;
    }
    &__dt {
        font-family: v.$font-Mplus-Bold;
        font-size: 24px;
        margin-bottom: 26px;
    }
    &__dd {
        font-size: 16px;
    }
 }