@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-food-menu {
    width: 100%;
    &__title {
        font-size: 62.7px;
        margin-top: 15px;
        margin-left: 3%;
    }
    &__line {
        margin-left: 3.5%;
    }
    &__ul {
        min-height: 642px; //*****考える
        color: v.$font-color--brown;
        display: flex;
        justify-content: center;
        margin: 94px auto 105px;
        @include m.mq( sp ) {
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
        }
    }
    &__li {
        width: 40%;
        // ここでは background-size: cover にしないようにしたい
        background-position: top center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include m.mq( sp ) {
            width: 89%;
        }
        &:first-child {
            background-image: url(../../../img/takeout-pc.jpg);
        }
        &:nth-child(2) {
            background-image: url(../../../img/eatin-pc.jpg);
            margin-left: 5.15%;
            @include m.mq( sp ) {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    &__dl {
        background-color: rgba(255,255,255,0.8);
        margin: 3.2%;
        // padding: 17px 25px 17px 19px;
        padding: 13px 4.27% 13px 3.24%;
    }
    &__dt {
        font-family: v.$font-Mplus-Bold;
        font-size: 19px;
        margin-bottom: 20px;
    }
    &__dd {
        font-size: 12.5px;
    }
 }