.p-mainvisual {
    height: 415px;
    width: 100%;
    background-image: url(../../../img/mainvisual-pc2.jpg);
    // background-position: center;
    display: flex;
    align-items: center;
    &__title {
        font-size: 31px;
        padding-left: 5.53%;
    }
}