@use "../../foundation/mixin" as m;

.p-mainvisual {
    height: 415px;
    width: 100%;
    background-image: url(../../../img/mainvisual-pc.jpg);
    display: flex;
    align-items: center; 
    @include m.mq( tablet ) {
        height: 230px;
    }
    &__title {
        font-size: 31px;
        padding-left: 5.53%;
    }
}