.p-mainvisual {
    height: 530px;
    background-image: url(../../../img/mainvisual-pc2.jpg);
    display: flex;
    align-items: center;
    &__title {
        font-size: 40px;
        padding-left: 86px;
    }
}